@import "functions.scss";

$root-size: 16;
$grid-width: rem(calc(1120 + 64));
$column-gap: rem(32);

// Breakpoints
$small: 480px;
$medium: 768px;
$xlarge: 1348px;

// Colors (También deben ser asignados en el componente Typography)
$primary-color: #1f3a41;
$secondary-color: #f9f1eb;
$secondary-color-light: #fef8f4;
$secondary-color-dark: #e7c8b3;
$accent-color: #ec863b;
$white-color: #fdfdff;
$black-color: #222;
$success-color: #4bb050;
$warning-color: #e1b667;
$information-color: #2196f3;
$error-color: #c92a07;

// Border Radious
$card-radious: 6px;
$input-radious: 4px;

// Box Shadows
$shadow-primary: 0 15px 35px rgba(0, 0, 0, 0.1);
$shadow-brown: 0px 8px 20px rgba(153, 115, 90, 0.3);
