@import "functions.scss";

// @font-face {
//   font-family: Kepler;
//   src: url(../fonts/Kepler/Kepler-Std-Display_26108.ttf) format("truetype");
// }

@font-face {
  font-family: Raleway;
  src: url(../_fonts/Raleway/Raleway-Medium.ttf) format("truetype");
}

$root-size: 16;
$grid-width: rem(calc(1120 + 64));
$column-gap: rem(32);

// Breakpoints
// $large: 1024px;
// $xxlarge: 1440px;

$small: 480px;
$medium: 768px;
$xlarge: 1348px;

// Fonts
$raleway-font: "Raleway", sans-serif;

// Colors
$primary: #1f3a41;
$secondary: #f9f1eb;
$secondary-light: #fef8f4;
$secondary-dark: #e6d1c3;
$accent: #ec863b;
$white: #fdfdff;
$black: #222;
$error: #c92a07;

// Border Radious
$card-radious: 6px;
$input-radious: 4px;

// Box Shadows
$shadow-primary: 0 15px 35px rgba(0, 0, 0, 0.1);
