@import "../../_styles/functions.scss";
@import "../../_styles/variables.scss";

.container {
  margin: 0 auto;
}

.footer {
  flex: 1;
  text-align: center;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 120px 100px 88px;
  gap: 24px;

  @media only screen and (max-width: 1160px) {
    flex-direction: column;
    align-items: center;
    padding: 48px 24px;

    &__copyright {
      font-size: 12px;
    }

    &__link {
      font-size: 12px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__copyright {
    color: $white;
    max-width: 180px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 220px;
    border: none;

    @media only screen and (max-width: 1160px) {
      width: 100%;

      ul {
        flex-direction: row !important;
      }

      // li {
      //   border-right: 1px solid $white;
      //   height: 18px; // Make the border 80% of the item's height
      //   margin-top: auto;
      //   margin-bottom: auto;
      //   padding-right: 16px;
      // }
    }
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
  }

  .newsletter {
    &__title {
      color: $white;
      text-align: center;
    }

    &__form {
      width: 100%;
      max-width: 300px; // Ajusta el ancho máximo según tu diseño
    }

    &__input-wrapper {
      position: relative;
      width: 100%;
    }

    &__input {
      width: 100%;
      padding: 12px;
      padding-right: 48px; // Añadimos espacio a la derecha para el icono
      border: 1px solid $white;
      border-radius: 4px;
      color: $white;
      background-color: transparent;
      height: 48px; // Establecemos una altura fija
      box-sizing: border-box;
    }

    &__input::-webkit-input-placeholder {
      color: $white;
      font-size: 14px;
    }

    &__input:-ms-input-placeholder {
      color: $white;
      font-size: 14px;
    }

    &__input::placeholder {
      color: $white;
      font-size: 14px;
    }

    &__icon-button {
      position: absolute;
      top: 50%;
      right: 12px; // Ajusta según necesites
      transform: translateY(-50%);
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px; // Ajusta el tamaño según tu icono
      width: 24px;

      &:disabled {
        cursor: not-allowed;
      }

      svg,
      img {
        height: 100%;
        width: 100%;
      }
    }

    &__error {
      color: $error; // Asegúrate de tener definida la variable $error o usa un color hexadecimal
      font-size: 14px;
      margin-top: 8px;
      font-weight: 700;
    }
  }

  &__icons {
    gap: 32px;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
