@import "../../_styles/variables.scss"; // Importa tus variables y breakpoints

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--left {
    align-items: flex-start;
    text-align: left;
  }

  &--center {
    align-items: center;
    text-align: center;
  }

  &--right {
    align-items: flex-end;
    text-align: right;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__subtitle {
    font-size: 18px;

    @media only screen and (max-width: $xlarge) {
      font-size: 16px;
    }

    @media only screen and (max-width: 680px) {
      font-size: 14px;
    }
  }
}
