@import "../../_styles/functions.scss";
@import "../../_styles/variables.scss";

.featured-product-card {
  max-width: 310px;
  height: 372px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;

  // -- Contenedor Imagen --
  &__image-container {
    flex: 0 0 50%;
    position: relative;
    background-color: #fafafa;
    overflow: hidden;
    text-align: center;

    .featured-product-card__image {
      object-fit: cover; // Llena el contenedor
      object-position: center;
    }
  }

  &__badge {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $accent-color;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    }

    .featured-product-card__badge-text {
      color: #fff;
      font-size: 14px;
      font-weight: 600 !important;
      letter-spacing: 0.5px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  // -- Contenido --
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 12px;
  }

  // -- Título --
  &__title {
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  // -- Descripción --
  &__description {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 12px;
    color: #007185;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 12px;

    &:hover {
      text-decoration: underline;
    }
  }

  // -- Contenedor Precio --
  &__price-container {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-top: auto;
  }

  &__price,
  &__discounted-price {
    font-size: 18px;
    font-weight: 700;
    color: #b12704;
  }

  &__original-price {
    font-size: 14px;
    color: #767676;
    text-decoration: line-through;
  }
}

@media only screen and (max-width: 1024px) {
  .featured-product-card {
    max-width: 100%;
  }
}

/* Media Query para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .featured-product-card {
    height: auto;
  }

  .featured-product-card__image-container {
    flex: 0 0 240px; // Fija la altura del contenedor de imagen en móviles
  }

  .featured-product-card__content {
    padding: 16px;
  }

  .featured-product-card__title {
    font-size: 16px;
  }

  .featured-product-card__description {
    font-size: 14px;
  }

  .featured-product-card__price,
  .featured-product-card__discounted-price {
    font-size: 18px;
  }

  .featured-product-card__original-price {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .featured-product-card__image-container {
    flex: 0 0 200px; // Fija la altura del contenedor de imagen en móviles
  }
}
