@import "../../_styles/variables.scss";
@import "../../_styles/functions.scss";

.accordion {
  margin: auto;
  padding: 0 32px;

  &__title {
    font-size: rem(40px);
    font-weight: 400;
    color: $black-color;
    margin-bottom: 24px;
  }

  &__content {
    .accordion__item {
      border-top: 1px solid rgba($black-color, 0.3);
      padding: 24px 0;

      &:last-child {
        border-bottom: 1px solid rgba($black-color, 0.3);
      }

      .accordion__trigger {
        font-weight: 700;
        font-size: rem(18px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        color: $primary-color;

        .accordion__icon {
          transition: transform 0.3s ease;
          stroke-width: 3;
          min-width: 24px; // Asegura el ancho mínimo
          min-height: 24px; // Asegura el alto mínimo
          width: 24px !important; // Fuerza el ancho
          height: 24px !important; // Fuerza el alto
          flex-shrink: 0; // Previene que el icono se encoja
        }

        &--opened {
          .accordion__icon {
            transform: rotate(45deg);
          }
        }
      }

      .accordion__answer {
        margin-top: 24px;
        max-width: 680px;

        > * {
          margin: 0;
        }
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: $medium) {
  .accordion {
    padding: 0;

    &__title {
      font-size: rem(32px);
    }

    &__content {
      .accordion__item {
        .accordion__trigger {
          font-size: rem(16px);

          .accordion__icon {
            width: 20px !important;
            height: 20px !important;
            min-width: 20px !important;
            min-height: 20px !important;
          }
        }

        .accordion__answer {
          font-size: rem(14px);
        }
      }
    }
  }
}

@media only screen and (max-width: $small) {
  .accordion__icon {
    width: 18px !important;
    height: 18px !important;
    min-width: 18px !important;
    min-height: 18px !important;
  }
}
