// Benefits.module.scss
@import "../../_styles/variables.scss";

.benefits {
  background-color: $white;
  background-color: $secondary;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 180px 36px;

  @media only screen and (max-width: $xlarge) {
    padding: 100px 24px 80px;
  }

  @media only screen and (max-width: $medium) {
    padding: 80px 24px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 80px;

    @media only screen and (max-width: $xlarge) {
      flex-direction: column-reverse;
      gap: 48px;
      max-width: 620px;
    }
  }

  &__image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 50%;
    aspect-ratio: 1 / 1;
    position: relative;

    @media only screen and (max-width: $xlarge) {
      width: 100%;
    }
  }

  &__dog {
    object-fit: cover;
  }

  &__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media only screen and (max-width: $xlarge) {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 8px;
  }

  &__item-number {
    color: $primary;
    font-size: 18px;
    font-weight: 900;
    margin-right: 4px;
  }
}
