@import "../../_styles/variables.scss";
@import "../../_styles/mixins.scss";

.typography {
  margin: 0;

  &--h1 {
    color: $black-color;
    font-size: rem(78);
    font-style: normal;
    font-family: griffith-gothic, sans-serif !important;
    font-weight: 900 !important;
    font-style: normal;
    // letter-spacing: 0.01em;
    line-height: 1.125;

    @media only screen and (max-width: 1280px) {
      font-size: rem(64);
    }

    @media only screen and (max-width: 600px) {
      font-size: rem(52);
    }
  }

  &--h2 {
    font-family: griffith-gothic, sans-serif !important;

    color: $black-color;
    font-size: rem(46);
    font-style: normal;
    font-weight: 900;
    line-height: 106%;

    @media only screen and (max-width: 600px) {
      font-size: rem(32);
      line-height: 110%;
    }
  }

  &--h3 {
    color: rgba($black-color, 0.9);
    font-size: rem(36);
    font-style: normal;
    font-weight: 700;
    letter-spacing: rem(0.096);
    line-height: 1.45;
    font-family: griffith-gothic, sans-serif !important;

    @media only screen and (max-width: 600px) {
      font-size: rem(24);
      letter-spacing: rem(0.072);
    }
  }

  &--h4 {
    color: $black-color;
    font-size: rem(24);
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    // letter-spacing: 0.01em;
    font-family: griffith-gothic, sans-serif !important;

    @media only screen and (max-width: 600px) {
      line-height: 1.3;
      font-size: rem(20);
      letter-spacing: rem(0.06);
    }
  }

  &--h5 {
    font-size: rem(14);
    color: $black-color;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: rem(0.06);
    font-family: griffith-gothic, sans-serif !important;

    @media only screen and (max-width: 600px) {
      font-size: rem(13);
      letter-spacing: rem(0.048);
    }
  }

  &--p1 {
    color: $black-color;
    // font-family: "novel-sans-pro", sans-serif;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: rem(18);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    @media only screen and (max-width: 600px) {
      font-size: rem(16);
      font-weight: 500;
      letter-spacing: rem(0.042);
    }
  }

  &--p2 {
    color: $black-color;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: rem(16);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: rem(0.24);
    letter-spacing: 0.02em;

    @media only screen and (max-width: 600px) {
      font-size: rem(14);
      letter-spacing: rem(0.036);
    }
  }

  &--p3 {
    color: $black-color;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-size: rem(14);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.015em;
  }

  &--button {
    font-size: rem(16);
    font-weight: bold;
    text-transform: uppercase;
    color: $black-color;
    letter-spacing: 0.01em;

    font-family: "neue-haas-grotesk-display", sans-serif;
  }

  &--overline {
    font-size: rem(14);
    text-transform: uppercase;
    color: $black-color;
    font-family: "neue-haas-grotesk-display", sans-serif;

    letter-spacing: 0.01em;
  }
}
