@import "@/app/_styles/variables.scss";
@import "@/app/_styles/mixins.scss";

// Base font size
$base-font-size: 16 !default;

@function rem($pixels) {
  @return #{$pixels / $base-font-size}rem;
}

// Función para crear un valor clamp responsive
@function fluid-type($min-size, $max-size) {
  $min-size-rem: rem($min-size);
  $max-size-rem: rem($max-size);

  @return clamp(
    #{$min-size-rem},
    calc(
      #{$min-size-rem} + (#{$max-size} - #{$min-size}) * ((100vw - 320px) /
            (1200 - 320))
    ),
    #{$max-size-rem}
  );
}

.typography {
  margin: 0;

  &--h1 {
    color: $black-color;
    font-size: fluid-type(36, 70);
    font-style: normal;
    letter-spacing: -0.01em;
    font-family: "komet", sans-serif;
    line-height: 1.05;
    font-weight: 800;
  }

  &--h2 {
    font-family: "komet", sans-serif;
    color: $black-color;
    font-size: fluid-type(32, 46);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 106%;
  }

  &--h3 {
    color: rgba($black-color, 0.9);
    font-size: fluid-type(24, 36);
    font-style: normal;
    font-weight: 600;
    line-height: 1.45;
    font-family: "komet", sans-serif;
    letter-spacing: -0.005em;
  }

  &--h4 {
    color: $black-color;
    font-size: fluid-type(20, 24);
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    font-family: "komet", sans-serif;
  }

  &--h5 {
    font-size: fluid-type(16, 20);
    color: $black-color;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: rem(0.06);
    font-family: "sofia-pro", sans-serif;
    font-weight: 500;
  }

  &--p1 {
    color: rgba($black-color, 0.9);
    font-family: "sofia-pro", sans-serif !important;
    font-size: fluid-type(16, 18);
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
  }

  &--p2 {
    font-family: "sofia-pro", sans-serif;
    font-size: fluid-type(14, 16);
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: rgba($black-color, 0.9);
  }

  &--p3 {
    color: $black-color;
    font-family: "sofia-pro", sans-serif;
    font-size: fluid-type(12, 14);
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.01em;
  }

  &--button {
    font-size: fluid-type(14, 16);
    font-weight: bold;
    text-transform: uppercase;
    color: $black-color;
    letter-spacing: 0.01em;
    font-family: "neue-haas-grotesk-display", sans-serif;
  }

  &--overline {
    font-size: fluid-type(12, 14);
    text-transform: uppercase;
    color: $black-color;
    font-family: "neue-haas-grotesk-display", sans-serif;
    letter-spacing: 0.01em;
  }
}
