// Button.module.scss
@import "../../_styles/variables.scss";
@import "../../_styles/mixins.scss";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  white-space: nowrap; /* Reemplaza text-wrap: nowrap; */
  width: fit-content;
  text-decoration: none;

  &__text {
    margin-right: 12px !important;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    stroke-width: 2;
  }

  &__spinner {
    display: flex;
    align-items: center;
  }

  &--small {
    padding: 12px;
    gap: 4px;

    &.button--pill {
      border-radius: 16px;
    }

    .button__text {
      font-size: rem(12);
      font-weight: 600;
      line-height: rem(15);
      letter-spacing: rem(0.036);
    }
  }

  &--medium {
    padding: 17px 16px;

    &.button--pill {
      border-radius: 20px;
    }

    .button__text {
      font-size: rem(14);
      font-weight: 600;
      line-height: rem(17);
      letter-spacing: rem(0.042);
    }
  }

  &--large {
    padding: 20px 32px;

    @media only screen and (max-width: 768px) {
      padding: 18px 24px;
    }

    &.button--pill {
      border-radius: 24px;
    }

    .button__text {
      font-size: rem(16);
      font-weight: 700;
      line-height: rem(20);
      letter-spacing: rem(0.048);
    }
  }

  &--primary {
    background-color: $primary-color;

    &:hover {
      filter: brightness(1.1);
      // background-color: $ui-aqua;
    }

    &[disabled],
    &[aria-disabled="true"] {
      opacity: 0.6;
      cursor: not-allowed;
    }

    .button__text {
      color: $white-color;
    }

    .button__icon {
      filter: brightness(0) invert(100%) sepia(33%) saturate(3729%)
        hue-rotate(180deg) brightness(104%) contrast(113%);
    }
  }

  // &--accent {
  //   background-color: $accent-color;

  //   &:hover {
  //     filter: brightness(1.1);
  //     // background-color: $ui-aqua;
  //   }

  //   &[disabled],
  //   &[aria-disabled="true"] {
  //     opacity: 0.6;
  //     cursor: not-allowed;
  //   }

  //   .button__text {
  //     color: $white-color;
  //   }

  //   .button__icon {
  //     filter: brightness(0) invert(100%) sepia(33%) saturate(3729%)
  //       hue-rotate(180deg) brightness(104%) contrast(113%);
  //   }
  // }

  // &--accent {
  //   background-color: $accent-color;
  //   box-shadow: 0 0 0 2px rgba($accent-color, 0.2);
  //   backdrop-filter: blur(4px);

  //   &:hover {
  //     background-color: darken($accent-color, 5%);
  //     box-shadow: 0 0 0 4px rgba($accent-color, 0.15),
  //       0 4px 12px rgba($accent-color, 0.2);
  //   }

  //   &:active {
  //     background-color: darken($accent-color, 10%);
  //     box-shadow: 0 0 0 2px rgba($accent-color, 0.3);
  //   }
  // }

  &--accent {
    background-color: $accent-color;
    box-shadow: 6px 6px 12px rgba(darken($accent-color, 20%), 0.2),
      -6px -6px 12px rgba(lighten($accent-color, 20%), 0.1);

    &:hover {
      background-color: lighten($accent-color, 3%);
      box-shadow: 8px 8px 16px rgba(darken($accent-color, 20%), 0.25),
        -8px -8px 16px rgba(lighten($accent-color, 20%), 0.15);
    }

    &:active {
      background-color: darken($accent-color, 3%);
      box-shadow: inset 4px 4px 8px rgba(darken($accent-color, 20%), 0.2),
        inset -4px -4px 8px rgba(lighten($accent-color, 20%), 0.1);
    }
  }

  // &--accent {
  //   background-color: $accent-color;
  //   position: relative;
  //   overflow: hidden;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: -100%;
  //     width: 100%;
  //     height: 100%;
  //     background: linear-gradient(
  //       120deg,
  //       transparent,
  //       rgba(255, 255, 255, 0.2),
  //       transparent
  //     );
  //     transition: 0.5s ease;
  //   }

  //   &:hover {
  //     background-color: lighten($accent-color, 5%);

  //     &::before {
  //       left: 100%;
  //     }
  //   }

  //   &:active {
  //     background-color: darken($accent-color, 5%);
  //   }
  // }

  &--accent {
    &[disabled],
    &[aria-disabled="true"] {
      opacity: 0.6;
      cursor: not-allowed;
      transform: none;
      box-shadow: none;

      &::before,
      &::after {
        display: none;
      }
    }

    .button__text {
      color: $white-color;
      position: relative;
      z-index: 1;
    }

    .button__icon {
      filter: brightness(0) invert(1);
      position: relative;
      z-index: 1;
    }
  }

  &--secondary {
    background-color: $primary-color;

    p {
      color: $white-color !important;
    }

    &:hover {
      // background-color: $black-color-light;
    }

    &[disabled],
    &[aria-disabled="true"] {
      opacity: 0.6;
      cursor: not-allowed;
    }

    .button__icon {
      filter: brightness(100);
    }
  }

  &--link-light {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid $white-color;
    padding: 8px 0;
    display: flex;
    gap: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:active,
    &:focus {
      transform: none;
      box-shadow: none;
    }

    .button__text {
      color: $white-color;
      font-size: 15px;
      font-weight: 600;
    }

    .button__icon {
      filter: brightness(100);
      transform: rotate(-45deg);
    }
  }

  &--link-dark {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid $black-color;
    padding: 8px 0;
    display: flex;
    gap: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:active,
    &:focus {
      transform: none;
      box-shadow: none;
    }

    .button__text {
      color: $black-color;
      font-size: 15px;
    }

    .button__icon {
      filter: brightness(0);
      transform: rotate(-45deg);
    }
  }

  &--full-width {
    width: 100%;
  }

  &--elevation-0 {
    @include elevation(0);
  }
  &--elevation-1 {
    @include elevation(1);
  }
  &--elevation-2 {
    @include elevation(2);
  }
  &--elevation-3 {
    @include elevation(3);
  }
  &--elevation-4 {
    @include elevation(4);
  }
  &--elevation-5 {
    @include elevation(5);
  }
}
