@import "../../_styles/variables.scss";
@import "../../_styles/mixins.scss";

$form-control-transition-duration: 0.3s;

.form-control {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  // Ocultar spinners en Chrome, Safari, Edge y Opera
  &__input[type="number"]::-webkit-outer-spin-button,
  &__input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // Ocultar spinners en Firefox
  &__input[type="number"] {
    -moz-appearance: textfield;
  }

  &__input {
    align-items: flex-start;
    background: $white;
    border-radius: $input-radious;
    border: 1px solid rgba($black, 0.2);
    color: $black;
    letter-spacing: rem(0.042);
    font-family: $raleway-font;
    font-size: rem(16);
    font-weight: 500;
    outline: none;
    padding: 14px 12px;
    transition: all $form-control-transition-duration;
    width: 100%;

    &::placeholder {
      color: rgba($black, 0.4);
      font-family: $raleway-font;
    }

    /* Estilos específicos para navegadores */
    &::-webkit-input-placeholder {
      font-family: $raleway-font;
    }
    &:-moz-placeholder {
      font-family: $raleway-font;
    }
    &::-moz-placeholder {
      font-family: $raleway-font;
    }
    &:-ms-input-placeholder {
      font-family: $raleway-font;
    }
  }

  &__icon {
    display: grid;
    place-content: center;
    position: absolute;
    right: 10px;
    height: 18px;
    width: 18px;

    i {
      width: inherit;
      height: inherit;
    }
  }

  // Variantes
  &--primary,
  &--secondary {
    .form-control__input-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
    }
  }

  &--primary {
    .form-control__label {
      background-color: transparent;
      color: $black;
      font-size: rem(14);
      font-weight: 600;
      padding: 0;
      pointer-events: none;
      position: static;
      transform: none;
      transition: none;
    }
  }

  &--secondary {
    .form-control__input-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .form-control__label {
      color: $black;
      font-size: rem(16);
      font-weight: 500;
      left: 16px;
      letter-spacing: rem(0.042);
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all $form-control-transition-duration;
      z-index: 1;

      &--focused {
        color: $black;
        font-size: rem(12);
        top: -7px;
        transform: translateY(0);
      }

      &::before {
        content: "";
        position: absolute;
        height: 8px;
        background-color: $white;
        width: calc(100% + 6px);
        top: 25%;
        left: -3px;
        transition: all $form-control-transition-duration;
        opacity: 0;
        z-index: -1;
      }

      &--focused::before {
        background-color: $white;
        width: calc(100% + 6px);
        opacity: 1;
        top: 25%;
      }
    }
  }

  &--focused {
    .form-control {
      &__input {
        border-color: $black;
      }
    }
  }

  &--not-empty {
  }

  &--incomplete {
    .form-control__input {
      border-color: $error;
    }

    .form-control__label {
      color: $error;
    }

    .form-control__error {
      bottom: -20px;
      color: $error;
      font-size: rem(12);
      left: 0;
      position: absolute;
      transform-origin: left;
      transition: all $form-control-transition-duration;
    }
  }

  &--error {
    .form-control__input {
      border-color: $error;
    }

    .form-control__label {
      color: $error;
    }

    .form-control__error {
      bottom: -20px;
      color: $error;
      font-size: rem(12);
      left: 0;
      position: absolute;
      transform-origin: left;
      transition: all $form-control-transition-duration;
    }
  }
}
