@import "../../_styles/variables.scss";
@import "../../_styles/mixins.scss";

$form-control-transition-duration: 0.3s;

.form-control {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__input {
    align-items: flex-start;
    border-radius: $input-radious;
    border: solid 1.7px rgba($black-color, 0.65);
    color: $black-color;
    letter-spacing: rem(0.042);
    font-size: rem(16);
    font-weight: 500;
    outline: none;
    padding: 14px 12px;
    transition: all $form-control-transition-duration;
    width: 100%;
    resize: none;

    &::placeholder {
      color: rgba($black-color, 0.725);
      font-family: "sofia-pro", sans-serif;
      letter-spacing: 0.01em;
    }
  }

  &--primary {
    .form-control__label {
      background-color: transparent;
      color: $black-color;
      font-size: rem(14);
      font-weight: 600;
      padding: 0;
      pointer-events: none;
      position: static;
      transform: none;
      transition: none;
    }

    .form-control__input {
      background: $secondary-color-light;
      opacity: 0.9;
    }
  }

  &--secondary {
    .form-control__label {
      color: $black-color;
      font-size: rem(16);
      font-weight: 500;
      left: 16px;
      letter-spacing: rem(0.042);
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all $form-control-transition-duration;
      z-index: 1;

      &--focused {
        color: $black-color;
        font-size: rem(12);
        top: -7px;
        transform: translateY(0);
      }

      &::before {
        content: "";
        position: absolute;
        height: 8px;
        background-color: $white-color;
        width: calc(100% + 6px);
        top: 25%;
        left: -3px;
        transition: all $form-control-transition-duration;
        opacity: 0;
        z-index: -1;
      }

      &--focused::before {
        background-color: $white-color;
        width: calc(100% + 6px);
        opacity: 1;
        top: 25%;
      }
    }
  }

  &--focused {
    .form-control__input {
      border-color: rgba($black-color, 0.9);
    }
  }

  &--not-empty {
  }

  &--error {
    .form-control__input {
      border-color: $error-color;
    }

    .form-control__label {
      color: $error-color;
    }

    .form-control__error {
      bottom: -20px;
      color: $error-color;
      font-size: rem(12);
      left: 0;
      position: absolute;
      transform-origin: left;
      transition: all $form-control-transition-duration;
    }
  }
}
