@import "../../_styles/variables.scss";

.food-calculator {
  position: relative;
  overflow: hidden;
  background: $secondary-color-light;
  width: 100%;
  position: relative;

  &__container {
    max-width: $xlarge;
    margin: 0 auto;
    width: 100%;
    padding: 72px 24px 54px;
    display: flex;

    @media only screen and (max-width: $large) {
      padding: 60px 0 0;
      flex-direction: column;
    }

    @media only screen and (max-width: $small) {
      padding: 48px 0 0;
    }
  }

  &__form-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $large) {
      width: 100%;
      padding-inline: 24px;
      margin-bottom: 48px;
    }

    @media only screen and (max-width: $small) {
      margin-bottom: 40px;
    }
  }

  &__form-heading {
    margin-bottom: 40px;
    width: 100%;
    max-width: 520px;
    position: relative;

    @media only screen and (max-width: $small) {
      margin-bottom: 32px;
    }
  }

  &__info-icon {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    right: 24px;
    top: 0;
    border-radius: 50%;
    background-color: rgba($black-color, 0.1);
    cursor: pointer;
    flex-shrink: 0;

    span {
      font-size: 12px;
      font-weight: bold;
      font-style: italic;
    }

    &:hover {
      background-color: rgba($black-color, 0.2);
    }
  }

  &__tooltip {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 12px;
    width: 240px;
    z-index: 10;

    &:before {
      content: "";
      position: absolute;
      top: -6px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 12px;
      height: 12px;
      background-color: white;
    }

    @media only screen and (max-width: $large) {
      left: unset;
      right: 9;

      &:before {
        display: none;
      }
    }
  }

  &__form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    @media only screen and (max-width: $large) {
      max-width: 480px;
    }
  }

  &__image-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(50% - 64px);
    height: 100%;
    z-index: 1;
    background: #f8dbd1;
    background: linear-gradient(
      270deg,
      rgba(#eed3c7, 0.715),
      rgba(#f8dbd1, 0.615)
    );
    background: #e7ebec;

    @media only screen and (max-width: $large) {
      position: relative;
      width: 100%;
      height: 370px;
    }

    @media only screen and (max-width: $medium) {
      height: 280px;
    }
  }

  &__image {
    object-fit: cover;
    opacity: 0.95;
  }
}
