// FoodCalculator.module.scss
@import "../../_styles/variables.scss";
@import "../../_styles/mixins.scss";

.food-calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
  padding: 160px 36px;
  gap: 136px;

  @media only screen and (max-width: $xlarge) {
    padding: 100px 48px;
    gap: 100px;
  }

  @media only screen and (max-width: $medium) {
    padding: 60px 24px;
    gap: 76px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    gap: 90px;

    @media only screen and (max-width: $xlarge) {
      flex-direction: column-reverse;
    }

    @media only screen and (max-width: $medium) {
      gap: 60px;
    }
  }

  &__illustrations {
    display: flex;
    gap: 24px;
    align-self: flex-end;
    width: 50%;

    @media only screen and (max-width: $xlarge) {
      margin-inline: auto;
      width: 60%;
    }

    @media only screen and (max-width: $medium) {
      width: 75%;

      transform: translateX(-24px);
    }

    // Posicionamiento de las im치genes para crear una composici칩n din치mica
    .food-calculator__image-container {
      position: relative;
      aspect-ratio: 1 / 1;
      width: 100%;
      // height: 100%;

      &--primary {
        width: 100%;
        height: 100%;
        z-index: 2;
        // transform: translate(-10%, -10%);

        @media only screen and (max-width: 680px) {
          transform: translate(0, 0);
        }
      }

      &--secondary {
        width: 45%;
        height: 45%;
        z-index: 1;
        transform: translate(-18%, -24%);

        @media only screen and (max-width: 680px) {
          transform: translate(0, 0);
        }
      }

      // Ajustes para dispositivos m칩viles
      @media only screen and (max-width: 680px) {
        &--primary,
        &--secondary {
          transform: translate(0, 0);
        }
      }
    }
  }

  &__form {
    width: 60%;

    @media only screen and (max-width: $xlarge) {
      margin-inline: auto;
      width: 100%;
    }
  }

  &__results {
    width: 50%;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: $xlarge) {
      width: 100%;
    }
  }

  &__result-details {
    margin-top: 16px;

    p {
      font-size: rem(16);
      line-height: 1.5;

      strong {
        font-weight: bold;
        color: $primary;
      }
    }
  }
}
