@import "../../_styles/variables.scss";

.snackbar {
  //   background-color: #333;
  //   color: white;
  //   padding: 10px 20px;
  //   border-radius: 4px;
  //   position: fixed;
  //   bottom: 20px;
  // //   left: 50%;
  // //   transform: translateX(-50%);
  //   z-index: 100;
  //   max-width: 300px;
  //   text-align: center;
  transition: all 0.5s ease-in-out;

  align-items: center;
  background-color: $accent-color;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  text-align: center;
  width: 100%;
  z-index: 10;
}
