@import "../../_styles/variables.scss";

.about {
  background-color: $primary-color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 36px;

  @media only screen and (max-width: $xlarge) {
    padding: 100px 24px;
  }

  @media only screen and (max-width: $medium) {
    padding: 88px 24px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 80px;
    padding-left: 48px;

    @media only screen and (max-width: $xlarge) {
      flex-direction: column;
      gap: 48px;
      max-width: 620px;
      padding-left: 0;
    }
  }

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;

    @media only screen and (max-width: $xlarge) {
      justify-content: unset;
      gap: 36px;
      height: unset;
      width: unset;
    }

    &--top {
      align-self: flex-start;
      max-width: 640px;
      width: 100%;
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 36px;

      @media only screen and (max-width: $xlarge) {
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 100%;
      }

      a {
        margin-bottom: 8px;
      }

      p {
        max-width: 448px;
      }
    }
  }

  &__image {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid $white-color;
    border-radius: 4px;
    aspect-ratio: 1 / 1;

    @media (max-width: 1348px) {
      width: 100%;
    }
  }

  &__dog {
    object-fit: cover;
  }
}
