@import "../../../../_styles/variables.scss";

.form-header {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  padding-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba($primary-color, 0.1),
      rgba($primary-color, 0.05) 50%,
      transparent
    );
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba($primary-color, 0.06);
    border-radius: 9px;
    color: $primary-color;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: rgba($black-color, 0.9);
    letter-spacing: -0.02em;
  }
}
