@import "../../_styles/variables.scss";

.card-list-container {
  display: flex;
  position: relative;
  max-height: 680px;
  // overflow-y: auto;
  padding-right: 20px;
  // overflow-x: hidden;

  &--horizontal {
    flex-direction: row;
    overflow-x: auto;
    max-height: none;
    gap: 24px;
  }

  &--vertical {
    gap: 60px;
    flex-direction: column;
    align-items: flex-start;

    @media only screen and (max-width: $medium) {
      gap: 40px;
    }
  }

  &__line {
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    width: 4px;
    bottom: -16px;
    background-color: rgba($primary-color, 0.85);
    border-radius: 3px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start; // Alinear los elementos al inicio del ítem
    position: relative;
    max-width: 540px;

    &--numbered {
      // Muestra el número en la parte superior izquierda
      .card-list-container__number-top {
        position: absolute;
        top: -25px; // Ajusta la posición del número superior
        left: 0;
        font-size: 1.5rem;
        font-weight: bold;
        color: $primary-color;
        position: relative;
        top: 0; // Alinear con la parte superior del ítem
      }
    }

    &--circled {
      // Aparece el círculo
      .card-list-container__circle {
        position: relative;
        top: 0;
        left: 4px;
      }
    }
  }

  &__circle {
    width: 12px;
    height: 12px;
    background: radial-gradient(
      circle,
      rgba($primary-color, 0.75) 0%,
      rgba($primary-color, 1) 100%
    );
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  &__number-top {
    font-size: 16px;
    font-weight: bold;
    color: $primary-color;
    position: absolute;
    // left: -25px; // Ajusta el número a la izquierda
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
