@import "../../_styles/variables.scss";

.about {
  background-color: $primary-color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 88px 36px 100px;

  @media only screen and (max-width: $xlarge) {
    padding: 72px 24px;
  }

  @media only screen and (max-width: $medium) {
    padding: 64px 24px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    gap: 100px;

    @media only screen and (max-width: $medium) {
      flex-direction: column;
      gap: 48px;
      align-items: flex-start;
      max-width: 620px;
    }
  }

  &__text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 510px;

    @media only screen and (max-width: $xlarge) {
      justify-content: unset;
      gap: 24px;
      height: unset;
      width: unset;
    }

    &--top {
      align-self: flex-start;
      max-width: 640px;
      width: 100%;
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 90px;
      max-width: 672px;

      @media only screen and (max-width: $xlarge) {
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 100%;
        gap: 48px;
      }

      @media only screen and (max-width: $medium) {
        gap: 32px;
      }

      p {
        max-width: 448px;
      }
    }
  }

  &__button {
    padding: 6px 0;
    @media only screen and (max-width: $xlarge) {
      padding: 0;
    }

    p {
      font-weight: 600 !important;
      font-size: 18px !important;
    }

    img {
      transform: rotate(90deg);
    }
  }

  &__image {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid $white-color;
    border-radius: 4px;
    aspect-ratio: 1 / 1;
    max-height: 600px;
    max-width: 600px;

    @media (max-width: 1348px) {
      width: 100%;
      max-width: 520px;
      max-height: 520px;
    }

    @media (max-width: $xlarge) {
      max-width: 480px;
      max-height: 480px;
    }

    @media (max-width: $medium) {
      max-width: 400px;
      max-height: 400px;
    }

    @media (max-width: $small) {
      max-width: 320px;
      max-height: 320px;
    }
  }

  &__dog {
    object-fit: cover;
  }
}
