@import "../../_styles/variables.scss";

.dog-form {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media only screen and (max-width: $large) {
    max-width: 500px;
  }

  &__container {
    background: $white-color;
    border-radius: 4px 4px 8px 8px;
    box-shadow: 0 2px 1px rgba($primary-color, 0.02),
      0 4px 16px rgba($primary-color, 0.02),
      0 8px 32px rgba($primary-color, 0.02);
    position: relative;
    overflow: hidden;
  }

  &__stepper-container {
    width: 100%;

    &--compact {
      background: rgba($primary-color, 0.02);
      border-bottom: 1px solid rgba($primary-color, 0.04);
      padding: 8px 0;
    }

    &--default {
      padding: 16px 0 0;
    }

    &--minimal {
      padding: 0;
    }
  }

  &__form-container {
    padding: 24px;
    padding-top: 0;

    @media (max-width: $medium) {
      padding: 16px;
      padding-top: 0;
    }
  }

  @media (max-width: $medium) {
    max-width: 100%;
    gap: 24px;
  }
}
