@import "../../_styles/variables.scss";

.faq {
  background-color: $secondary-color-light;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 36px;
  gap: 88px;

  @media only screen and (max-width: $xlarge) {
    padding: 60px 48px;
    gap: 60px;
  }

  @media only screen and (max-width: $medium) {
    padding: 60px 16px;
  }

  &__content {
    max-width: 1200px;
    width: 100%;
  }
}
