@import "@/app/_styles/variables.scss";

.faq {
  background: $secondary-color;
  background: $white-color;

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  gap: 70px;

  @media only screen and (max-width: $xlarge) {
    padding: 60px 48px;
    gap: 60px;
  }

  @media only screen and (max-width: $medium) {
    padding: 60px 24px;
  }

  @media only screen and (max-width: $small) {
    gap: 48px;
  }

  &__header,
  &__content {
    max-width: 1280px;
    padding-inline: 16px;
    width: 100%;

    @media only screen and (max-width: $medium) {
      padding-inline: 0;
    }
  }
}
