@import "../../_styles/functions.scss";
@import "../../_styles/variables.scss";

.product-grid {
  background-color: $secondary-color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 36px 160px;
  position: relative;
  margin-inline: auto;
  gap: 80px;

  @media only screen and (max-width: $xlarge) {
    padding: 40px 24px 100px;
    max-width: 620px;
    gap: 60px;
  }

  @media only screen and (max-width: $medium) {
    padding: 60px 24px 80px;
  }

  &__header {
    margin-inline: auto;
    width: 100%;
    max-width: 1160px;
    z-index: 1;
  }

  &__background {
    top: 0;
    width: 100%;
    height: 450px;
    left: 0;
    position: absolute;
    background-color: $secondary-color;

    @media only screen and (max-width: $xlarge) {
      height: 390px;
    }

    @media only screen and (max-width: 680px) {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1160px;
    margin-inline: auto;
    gap: 48px;

    @media only screen and (max-width: $xlarge) {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }

  &__card {
    width: 50%;
    position: relative;

    @media only screen and (max-width: $xlarge) {
      width: 100%;
    }
  }

  &__description {
    padding-top: 48px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    z-index: 1;
    gap: 20px;
    max-width: 446px;

    @media only screen and (max-width: $xlarge) {
      padding-top: 24px;
      width: 100%;
      // text-align: center;
    }

    @media only screen and (max-width: $medium) {
      padding-top: 16px;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__button {
    margin-top: 16px;
  }

  img[alt="Imagen del Producto"] {
    //   width: 80% !important;
    //   height: 80% !important;
    //   margin: auto;
    transform: translateY(24px);
  }
}
