@import "../../_styles/functions.scss";
@import "../../_styles/variables.scss";

.product-grid {
  padding: 100px 24px 92px;
  background: $white-color;

  @media only screen and (max-width: $medium) {
    padding: 60px 24px;
  }

  &__header {
    margin-inline: auto;
    width: 100%;
    max-width: 1280px;
    margin-bottom: 88px;
    z-index: 1;

    @media only screen and (max-width: $xlarge) {
      margin-bottom: 48px;
    }

    @media only screen and (max-width: $medium) {
      margin-bottom: 40px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 72px;
    max-width: 1280px;
    margin-inline: auto;
    align-items: start;

    @media only screen and (max-width: $xlarge) {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    @media only screen and (max-width: $medium) {
      gap: 36px;
    }
  }

  &__gallery {
    position: sticky;
    top: 32px;
    width: 100%;
    background-color: $white-color;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.04); // Borde muy sutil

    @media only screen and (max-width: $xlarge) {
      max-width: 600px;
      margin-inline: auto;
    }

    @media only screen and (max-width: $medium) {
      height: fit-content !important;
    }
  }

  &__swiper {
    width: 100%;
    height: 620px;

    @media only screen and (max-width: $xlarge) {
      height: 564px;
    }

    @media only screen and (max-width: $medium) {
      height: 400px;
    }

    :global {
      .swiper-button-next,
      .swiper-button-prev {
        width: 44px;
        height: 44px;
        margin: 0;
        opacity: 0;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        color: $primary-color;
        visibility: hidden;
        transition: all 0.3s ease-out;

        &::after {
          font-size: 16px;
          font-weight: bold;
        }

        &:hover {
          background: $white-color;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
      }

      .swiper-button-prev {
        left: 16px;
      }

      .swiper-button-next {
        right: 16px;
      }

      .swiper-pagination {
        bottom: 32px !important; /* Aumentado para mejor separación del borde */

        &-bullet {
          width: 10px; /* Reducido para mejor proporción */
          height: 10px;
          margin: 0 6px; /* Aumentado para mejor espaciado */
          background: rgba(
            255,
            255,
            255,
            0.4
          ); /* Cambiado a blanco con transparencia */
          // border: 1px solid rgba(255, 255, 255, 0.8); /* Borde para mejor visibilidad */
          transition: all 0.3s ease;
          opacity: 1;

          &:hover {
            background: rgba(255, 255, 255, 0.6); /* Efecto hover sutil */
          }

          &-active {
            width: 24px;
            border-radius: 4px;
            background: #ffffff; /* Blanco sólido para el activo */
            border-color: #ffffff; /* Borde blanco sólido */
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
          }
        }
      }
    }
    &:hover {
      :global {
        .swiper-button-next,
        .swiper-button-prev {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__image-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    pointer-events: none;
  }

  &__image {
    // @media only screen and (max-width: $xlarge) {
    object-fit: cover !important;
    // }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media only screen and (max-width: $xlarge) {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  &__info-header {
    padding: 24px 0 0;
    position: relative;
  }

  &__title,
  &__subtitle {
    @media only screen and (max-width: $xlarge) {
      text-align: center !important;
    }
  }

  &__title {
    font-size: 26px;
    color: #333;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 17px;
    font-weight: 400;
    font-style: italic;

    @media only screen and (max-width: $xlarge) {
      font-size: 16px;
    }
  }

  &__tabs {
    display: flex;
    gap: 4px;
    border-bottom: 1.6px solid rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: $xlarge) {
      justify-content: space-around;
    }

    @media only screen and (max-width: $medium) {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media only screen and (max-width: $small) {
      max-width: 320px;
    }
  }

  &__tab {
    padding: 12px 24px;
    border: none;
    background: none;
    color: $black-color;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;

    p {
      font-size: 14px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      transform: scaleX(0);
      transition: transform 0.2s ease;
    }

    &:hover {
      color: $black-color;
    }

    &--active {
      p {
        color: $primary-color !important;
        font-weight: 700 !important;
      }

      &::after {
        transform: scaleX(1);
      }
    }

    @media only screen and (max-width: $medium) {
      white-space: nowrap;
      padding: 12px 16px;
    }
  }

  &__tab-content-wrapper {
    position: relative;
    height: 256px;
  }

  &__tab-content {
    overflow-y: auto;
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding-right: 16px;
    margin-right: -16px;

    // Estilizar scrollbar para navegadores webkit
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    // Scroll suave
    scroll-behavior: smooth;

    // Ocultar scrollbar en Firefox
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  }

  &__fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background: linear-gradient(
      to top,
      $white-color 0%,
      rgba(255, 255, 255, 0) 100%
    );
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;

    &[data-visible="true"] {
      opacity: 1;
    }
  }

  &__description {
    flex-direction: column;
    display: flex;
    gap: 16px;
  }

  &__text {
    color: $black-color;
    line-height: 1.6;
    font-weight: 400;
  }

  &__shipping-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__shipping-item {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease;
  }

  &__shipping-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }

  &__shipping-time {
    color: $primary-color;
    font-size: 14px;
  }

  &__shipping-details {
    color: $black-color;
    line-height: 1.5;
  }

  &__shipping-note {
    margin-top: 8px;
    font-style: italic;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    // margin-top: 16px;
    padding-top: 24px;
    border-top: 1.6px solid rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: $xlarge) {
      align-items: center;
    }
  }

  &__button {
    width: 200px;
    justify-content: center;

    @media only screen and (max-width: $xlarge) {
      margin-top: 16px;
      margin-inline: auto;
    }

    @media only screen and (max-width: $medium) {
      max-width: none;
    }
  }

  &__shipping {
    color: $black-color;
    font-size: 14px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__tab-content > div {
    animation: fadeIn 0.3s ease forwards;
  }

  :global {
    .swiper-fade {
      .swiper-slide {
        transition-property: opacity;

        &:not(.swiper-slide-active) {
          opacity: 0 !important;
        }
      }
    }

    .swiper-slide {
      height: auto;
    }
  }
}
